/* You can add global styles to this file, and also import other style files */

/* body {

    background: url('/assets/img/wallpaper.jpg') !important;
    background-size: 100% !important;
    width: 100% !important;
} */
