.containerHome {

  
   display: flex;
   justify-content: space-between;
    width: 100% !important;
    border-bottom: 1px solid orange;
background-color: rgb(52, 153, 220);


}

* {

    font-family: pixel;

}

.containerSearch {

    width: auto;
    max-width: 400px;
    min-width: 400px;
    height: 100% !important;
    padding: 10px;

}

.titleMenu {

    width: 100%;    
    color: orange;
    text-shadow: 2px 2px 2px black;
    font-weight: 900;
    font-size: 350%;


}

.textId {

visibility: hidden;
text-shadow: 2px 2px 2px black;
color: orange;
    font-size: 30px !important;
 

}

.buttonStyle {
    transition: 1s;
    background-color: orange;

}

.buttonStyle:hover {

    background-color: rgb(52, 153, 220);
    

}

input[type="text"]
{
   color: orange;
   font-weight: 900;
}

input::placeholder {
   color: rgb(255, 195, 85);
   font-weight: 900;
}

.iconStyle {

    color: orange;

}

.inputStyle {

    border: 1px solid black;
        outline-color: none !important;
}

.inputStyle:focus , .inputStyle:active {

    border: 1px solid orange !important;
    outline-color: none !important;
    box-shadow: 2px 2px 2px black;
}

.containerBubbleChat {
    
    position: relative;
        z-index: 60;
     
}


.bubbleChatContainer {

    position: absolute;
    right: 13em;
    top: 85%;
    width: auto;
    min-width: 350px;
    max-width: 350px;
    visibility: hidden;
   

}

.bubbleChat2 {

    background-color: white;

    border: 2px solid black;

}


.contaner2Style {

    height: auto;
    max-height:75.8vh;
    min-height: 75.8vh ; 
    background: url('/assets/img/wallpaper.jpg') !important;
    background-size: 100% !important;
    width: 100% !important;
 
  
}

.textColorBubbleChat {

    color: orange !important;
    font-size: 13px !important;
}

.showMenu {


}